body {
    
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgb(42, 178, 11); */
    background-color: rgb(21, 21, 21);
  margin: 5px;
}

.message h2{
  color: rgb(245, 245, 245);
  margin-top: 10vh;
  margin-bottom: 5vh;
  margin-left: 3vh;
}

.navbar{
  background-color: rgb(33, 33, 33);
}

.carousel {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    scroll-behavior: auto;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    width: 100%;
    /* border: solid 2px; */
    justify-content: start;
}

.card {
    width: 270px;
    height: 280px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    border-style: outset;
    border-color: rgb(255, 255, 255);
    border-radius: 15px;
    overflow: hidden;
}

.cardpicture{
  width: 270px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardpicture2{
  width: 270px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardpicture img{
  width: 230px;
  height: 230px;
    object-fit: cover;
    border-radius: 50%;
    /* border: 3px solid #fff; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardpicture2 img{
  width: 230px;
  height: 230px;
    object-fit: cover;
    border-radius: 5%;
    /* border: 3px solid #fff; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.nameart{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 1vh;
  text-align: left;
  color: rgb(246, 246, 246);
  padding-left: 3vh;
  font-size: 15px;
  font-weight: 600;
  height: auto;
}

.name {
  font-weight: 700;
  color: white;
  font-family: Verdana;
}

.artitle p{
  font-size: 30px;
  font-weight: 600;
  color: rgb(243, 243, 243);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 3vh;
}

.artist {
  font-family: Segoe UI;
  font-weight: 500;
  padding: 1px;
  text-align: center;
  color: azure;
}

.bi-search{
  color: white;
}

.bi-person{
  color: white;
}

.bi-gear{
  color: white;
}


.bi-music-note-beamed{
  color: white;
}

.navbar-toggler{
  color: white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
