body{
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1%;
}

section{
    width: 100%;
    height: auto;
}

.contain{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 8.5vh;
    border-radius: 10px;
    background-color: rgb(35, 35, 35);
    padding: 1vh;
    /* border: solid blue; */
}

.column1{
    width: 100%;
    height: auto;
    flex-grow: 1;
    flex-basis: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid white; */
    padding: 15px;
}

.column2{
    width: 100%;
    height: auto;
    flex-grow: 1;
    flex-basis: 350px;
    display: flex;
    padding: 1vh;
    /* border: solid white; */
}

.incolumn1{
    width: 35vh;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    /* border: solid white; */
    display: flex;
    justify-content: center;
}

.incolumn1 img{
    width: 100%;
}

.incolumn2 {
    width: 100%;
    display: flex;
    /* border: solid white; */
    flex-direction: column;
}


#albumname{
    font-size: 4rem
}

.incolumn2 h2{
    color: white;
}
.isiincolumn2 h2{
    color: white;
    margin-left: 1rem;
}

.isiincolumn2{
    display: flex;
    justify-content: start;
    padding-left: 3px;
    align-items: center;
    /* border: solid white; */
}

.isiincolumn2 img{
    width: 45px;
    height: auto;
    border-radius: 3px;
}

.contain2{
    width: 100%;
    height: auto;
    margin-top: 1vh;
    border-radius: 10px;
    overflow: hidden;
}

td a{
    color: white;
    text-decoration: none;
}
table img{
    border-radius: 5px;
}


.name {
    font-weight: 700;
    color: white;
    font-family: Verdana;
  }

.navbar{
    background-color: rgb(33, 33, 33);
}

.bi-house{
    color: white;
  }

.bi-search{
    color: white;
}
.bi-person{
    color: white;
}
  
.bi-gear{
    color: white;
}
  
.bi-music-note-beamed{
    color: white;
}

#toggle{
    color: white;
  }
  
#togle{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }