body {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8px;
    
}

section{
    width: 100%;
    height: 100vh;
}


.name {
    font-weight: 700;
    color: white;
    font-family: Verdana;
  }

.contain{
    width: 100%;
    height: auto;
    margin-top: 8.5vh;
    display: flex;
    border-radius: 10px;
    background-color: rgb(35, 35, 35);
}

.column1{
    width: 50%;
    height: 50vh;
    
    display: flex;
    align-items: center;
    justify-content: end;

}
.column2{
    width: 50%;
    height: 50vh;
    display: flex;
    padding: 1vw;
}

.play-song{
    text-decoration: none;
    color: white;
}

.incolumn2 {
    width: auto;
    display: flex;
    align-items: center;
    
}

.incolumn2 h2{
    font-size: 40px;
    color: white;
}

.incolumn1{
    width: auto;
    height: auto;
    
    overflow: hidden;
    border-radius: 10px;
}


.incolumn1 img{
    width: 40vw;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 1vw;

   
}

table img{
    border-radius: 5px;
}


.contain2{
    width: 100%;
    height: auto;
    margin-top: 1vh;
    border-radius: 10px;
    overflow: hidden;
}










.navbar{
    background-color: rgb(33, 33, 33);
}

.bi-house{
    color: white;
  }

.bi-search{
    color: white;
}
.bi-person{
    color: white;
}
  
.bi-gear{
    color: white;
}
  
.bi-music-note-beamed{
    color: white;
}