*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: 1px;
      background-color: #383c4e;
      color: red;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 2.7em;
    padding-right: 2.7em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 20px;
  }
  
  #heading {
    margin: 1em;
    text-align: center;
    color: rgb(0, 255, 200);
    font-size: 2rem;
  }
  
  .field {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5em;
    border-radius: 25px;
    width: 350px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
  .input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: rgb(0, 255, 200);
  }
  
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: rgb(0, 255, 200);
    letter-spacing: 1px;
  }
  
  .form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 2em;
  }
  
  .button1 {
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    flex-grow: 1;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  
  .button1:hover {
    background-image: linear-gradient(163deg,  #a00000fa 0%, #d10050 100%);
    color: rgb(0, 255, 200);
  }
  
  .button2 {
    flex-grow: 1;
    padding: 0.5em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  
  .button2:hover {
    background-image: linear-gradient(163deg, #00642f 0%, #13034b 100%);
    color: rgb(0, 255, 200);
  }

  
  .button3 {
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    color: rgb(0, 0, 0);
    margin-top: 2em;
    cursor: pointer;
  }
  
  .button3:hover {
    background-image: linear-gradient(163deg, #00642f 0%, #13034b 100%);
    color: rgb(0, 255, 200);
  }
  
  .card {
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 22px;
    transition: all .3s;
    margin-top: 50px;
  }
  
  .card2 {
    border-radius: 0;
    transition: all .2s;
  }
  
  .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
  }
  
  .card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
  }

  a{
    text-decoration: none;
    color: black;
  }

  #bt2:hover{
    background-image: linear-gradient(163deg, #00642f 0%, #13034b 100%);
    color: rgb(0, 255, 200);
    background: none;
  }

  #bt1:hover{
    background-image: linear-gradient(163deg, #00642f 0%, #13034b 100%);
    color: rgb(255, 255, 255);
    background: none;
  }