body{
    width: 100%;
   
}

.navbar{
    background-color: rgb(33, 33, 33);
  }

  #judul h3{
    color: white;
    text-align: center;
    
  }

.contain1{
    margin-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contain1 h3{
    color: white;
}


.row1{
  width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}


.cardo {
    width: 230px;
      /* 270px */
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: transparent;
      
      /* border-style: outset; */
      /* border-color: rgb(255, 255, 255); */
      border-radius: 15px;
      border-style: none;
      overflow: hidden;
      padding: 10px;
  }
  
  .cardpicture{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .cardpicture2{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
  }
  
  .cardpicture img{
    width: 200px;
    height: 200px;
      object-fit: cover;
      border-radius: 50%;
      /* border: 3px solid #fff; */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .cardpicture2 img{
    width: 200px;
    height: 200px;
      object-fit: cover;
      border-radius: 5%;
      /* border: 3px solid #fff; */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .namealbum{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1vh;
    text-align: left;
    color: rgb(243, 243, 243);
    padding-left: 0.5vh;
    font-size: 15px;
    font-weight: 600;
    height: auto;
    /* position: absolute; */
    
  }
  
  .nameart{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1vh;
    text-align: left;
    color: rgb(246, 246, 246);
    padding-left: 0.5vh;
    font-size: 15px;
    font-weight: 600;
    height: auto;
  }
  
  #toggle{
    border: none;
    color: white;
  }
  
  #toggle-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
  .name {
    font-weight: 700;
    color: white;
    font-family: Verdana;
  }
  
  .artitle p{
    font-size: 30px;
    font-weight: 600;
    color: rgb(243, 243, 243);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 3vh;
  }

.bi-house{
    color: white;
  }
.bi-person{
    color: white;
  }
  .bi-gear{
    color: white;
  } 
  .bi-music-note-beamed{
    color: white;
  }