body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #7f7d7d, #554949);
  /* background: linear-gradient(to right,#9a1d86, #1595be); */
  font-weight: bold;
  /* padding: 5%; */
  /* padding-bottom: 5%; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  min-height: 100vh;
  height: 100%;
  padding: 2rem;
}

.player {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.wrapper {
  border: 1px solid transparent;
  width: 50rem;
  padding: 2rem;
  /* padding: 30px; */
  border-radius: 20px;
  background-color: #ddd;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: blue;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.track-art {
  margin: 25px;
  height: 250px;
  width: 250px;
  border: 2px solid #fffafa;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  -moz-box-shadow: 0px 6px 5px black;
  -webkit-box-shadow: 0px 6px 5px black;
  box-shadow: 0px 6px 5px black;
  -moz-border-radius: 190px;
  -webkit-border-radius: 190px;
  border-radius: 190px;
}

.now-playing {
  font-size: 1rem;
}

.track-name {
  font-size: 2.5rem;
}

.track-artist {
  margin-top: 5px;
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: green;
  gap: 3rem;
}
.active {
  color: black;
}

.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track {
  opacity: 0.8;
  transition: opacity 0.2s;
}
/* .repeat-track,
    .random-track,
    .playpause-track,
    .prev-track,
    .next-track {
      width: 4rem;
      background-color: white;
    } */

.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1;
}

.slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seek_slider,
.volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: #83a9ff;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border: 3px solid #3774ff;
  cursor: grab;
  border-radius: 100%;
}

.buttons i.fa {
  font-size: 2rem;
}

.buttons i.fa-play-circle {
  font-size: 2.5rem;
}

.seek_slider:hover,
.volume_slider:hover {
  opacity: 1;
}

.seek_slider {
  width: 60%;
}

.volume_slider {
  width: 30%;
}

.current-time,
.total-duration {
  padding: 10px;
}

i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}

i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward,
p {
  cursor: pointer;
}
.randomActive {
  color: black;
}
.rotate {
  animation: rotation 8s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.loader {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader .stroke {
  background: #f1f1f1;
  height: 150%;
  width: 10px;
  border-radius: 50px;
  margin: 0 5px;
  animation: animate 1.4s linear infinite;
}
@keyframes animate {
  50% {
    height: 20%;
    background: #4286f4;
  }

  100% {
    background: #4286f4;
    height: 100%;
  }
}
.stroke:nth-child(1) {
  animation-delay: 0s;
}
.stroke:nth-child(2) {
  animation-delay: 0.3s;
}
.stroke:nth-child(3) {
  animation-delay: 0.6s;
}
.stroke:nth-child(4) {
  animation-delay: 0.9s;
}
.stroke:nth-child(5) {
  animation-delay: 0.6s;
}
.stroke:nth-child(6) {
  animation-delay: 0.3s;
}
.stroke:nth-child(7) {
  animation-delay: 0s;
}

#back .bi-music-note-list {
  color: black;
  position: absolute;
  margin-left: 5px;
}

@media (max-width: 836px) {
  .wrapper {
    width: 40rem;
  }
}
@media (max-width: 692px) {
  .wrapper {
    width: 30rem;
  }
}
@media (max-width: 523px) {
  .wrapper {
    max-width: 25rem;
    width: 100%;
  }
  .buttons {
    gap: 2rem;
  }
}
@media (max-width: 400px) {
  .wrapper {
    max-width: 25rem;
    width: 100%;
    padding: 1.4rem;
  }

  .track-art {
    height: 12rem;
    width: 12rem;
  }

  .now-playing {
    font-size: 1rem;
  }

  .track-name {
    font-size: 1.5rem;
  }

  .track-artist {
    font-size: 1.2rem;
  }
  .buttons i.fa {
    font-size: 1.3rem;
  }

  .buttons i.fa-play-circle {
    font-size: 1.8rem;
  }
}
