<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="puncak.css">
    <script src="puncak.js" defer></script>
    <title>Puncak Klasemen</title>
    </head>
    <body>
<nav class="navbar navbar-expand-lg bg-success fixed-top">
        <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="bi bi-music-note-beamed"></i></a>
          <a class="navbar-brand" href="#"><div class="name">Music Player</div></a>
          <button class="navbar-toggler" type="brutton" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              
            </ul>
          <ul class="navbar-nav ms-auto">
    <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="home.html"><i class="bi bi-house-door"></i></a>
              </li>
    <li class="nav-item">
                <a class="nav-link active" aria-current="page" href=""><i class="bi bi-search"></i></a>
              </li>
   <li class="nav-item">
                <a class="nav-link" href="logout.html"><i class="bi bi-gear"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
      <div class="img">
        <img src="puncak.jpg" width="400" height="400">
      </div>
      
      <div class="uraian">Deretan musik Indonesia terpopuler saat ini. Cover : Yovie Widianto</div>
      
      <div class="card">
      <div class="foto">
   <img src="hindia.jpg" class="w-100 p-3; h-100">
   </div>
  <div class="judul">Masalah Masa Depan</div>
            <div class="artist">Hindia</div>
      </div>

  <div class="card2">
      <div class="foto">
   <img src="lyodra.jpg" class="w-100 p-3; h-100">
   </div>
  <div class="judul">Menyesal</div>
            <div class="artist">Yovie Widianto,Lyodra,Tiara Andini,Ziva Magnolya</div>
      </div>
      
  <div class="card3">
      <div class="foto">
   <img src="luka.jpg" class="w-100 p-3; h-100">
   </div>
  <div class="judul">Luka</div>
            <div class="artist">Andmesh</div>
      </div>
      
   <div class="card4">
      <div class="foto">
   <img src="sial.jpg" class="w-100 p-3; h-100">
   </div>
  <div class="judul">Sial</div>
            <div class="artist">Mahalini</div>
      </div>
      
  <div class="card5">
      <div class="foto">
   <img src="saat.jpg" class="w-100 p-3; h-100">
   </div>
  <div class="judul">Saat Kau Telah Mengerti</div>
            <div class="artist">Virgoun</div>
      </div>
      
    <div class="card6">
      <div class="foto">
   <img src="komang.jpg" class="w-100 p-3; h-100">
   </div>
  <div class="judul">Komang</div>
             <div class="artist">Raim Laode</div>
      </div>

    </body>
    </html>